h1{

  color: green;
  font-size: 60px;
  text-align:center;
   }
h2{
  color:  purple;
  font-size: 25px;
  font-family:verdana;
  text-align:center;
  }

table tr{
  color: #871f54;}


img {
  float: right;
}
body{background-color: lightblue;
}

h3{
font-weight: bold;
color: darkblue;
}
P{ color:blue; }
h4{
  color: purple;
  font-size: 20px;
}
